/*-- 
Integrantes:
Avila Hernandez Kevin
Ocampo Giles Karen Lizeth
Pérez Ramos Diana Areli
Ríos Contreras Israel

Materia: Herrmanientas Web
Maestra: Rosario Huerta Eloisa
Grpo: 7B Informática
--*/


/*Estilo para la tabla*/
table {
	/*Alinear texto a la izquierda*/
	border-collapse: collapse;
	width: 85%;
  }
  
  table a {
	  color: rgb(0, 119, 128);
	  text-decoration: none;
  }
  
  th{
  	background-color: rgb(12, 151, 133);
  }
  th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;


  }
 
tr:hover {background-color: #c0bfbffd;}

.boton { 

    text-decoration: none;
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
    background-color:#88F3CB    ;
    border-radius: 3px;
    border: 1px solid #b00052;

    -moz-border-radius: 20px; /*Prefijos*/
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
  
}